# Flutter-related
**/Flutter/ephemeral/
**/Pods/

# Xcode-related
**/dgph
**/xcuserdata/

# Written by fastlane for release builds only
Runner/Configs/Signing.xcconfig

# fastlane working files
fastlane/report.xml
fastlane/README.md
vendor/bundle/
.bundle/
